baselines/TNT/TAL_13_14_14.torch filter=lfs diff=lfs merge=lfs -text
envs/data/environment/room_1/test1.obj filter=lfs diff=lfs merge=lfs -text
envs/data/environment/room_2/test_REAL.obj filter=lfs diff=lfs merge=lfs -text
